<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sikeres fogalalás</title>
</head>
<body>
  <h1> Sikeres Foglalás</h1>
  <p>Foglalás adatai: <%= reservation %></p>
</body>
</html>
